<div class="row">
  <div class="col-md-8 offset-md-2">
    <script type="text/javascript">
      amzn_assoc_tracking_id = "vaxxmax-20";
      amzn_assoc_ad_mode = "manual";
      amzn_assoc_ad_type = "smart";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
      amzn_assoc_design = "enhanced_links";
      amzn_assoc_asins = "B089TX3BPY";
      amzn_assoc_placement = "adunit";
      amzn_assoc_linkid = "7d30817abc028042721c5ab5c0345cd1";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  </div>
</div>

<p class="text-center">Please remember we all need to continue to wear masks.</p>

<p class="text-center text-justify">This site is not affiliated with or endorsed by Rite Aid or any other business or government agencies.<br>
  This site is for informational purposes only. The provided information may not be complete or accurate.</p>
<p class="text-center text-justify">Copyright © 2021 Adam Freemer. All rights reserved.</p>
<p class="text-center text-justify">Contact Information: <a href="https://www.linkedin.com/in/adamfreemer">LinkedIn</a> <a href="https://twitter.com/AdamFreemer">Twitter</a></p>
<p class="text-center text-justify">Release Version: 1.7.0 | <%= link_to 'Logs', logs_path %></p>
<p class="text-center"></p>

<div class="modal fade" id="bitcoinModal" tabindex="-1" role="dialog" aria-labelledby="bitcoinModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bitcoin Address For Donations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center"><b>16YKUhp9g4BWpKQSWsTvXR4K8CB55QYFVZ</b></div><br><br>
        <%= image_tag("btc.png", class: 'mx-auto d-block') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changelogModal" tabindex="-1" role="dialog" aria-labelledby="changelog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Changelog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Version 1.7.0</b><br>
        - Rework UI to be mobile component<br>
        - Lots of styling fixes and UI cleanup<br>
        - Separate out dropdown code precursor to Walgreens code<br>
        - Add zipcode column back in<br>
        - Update logging to be more verbose<br>
        - Update logging table UI<br>
        - Tweak masks ads<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-3" style="padding-left: 3em;">
        <script type="text/javascript">
            amzn_assoc_ad_type = "banner";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_placement = "assoc_banner_placement_default";
            amzn_assoc_campaigns = "gourmet";
            amzn_assoc_banner_type = "category";
            amzn_assoc_p = "13";
            amzn_assoc_isresponsive = "false";
            amzn_assoc_banner_id = "05HSXBAM75NQEPYG6682";
            amzn_assoc_width = "468";
            amzn_assoc_height = "60";
            amzn_assoc_tracking_id = "vaxxmax-20";
            amzn_assoc_linkid = "3e7951598d49948c1ce052b413c46969";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div>
  </div>
</div>

<script>
  var clipboard = new ClipboardJS('.btn');
  clipboard.on('success', function (e) {
    console.log(e);
  });
  clipboard.on('error', function (e) {
    console.log(e);
  });
</script>
