    <div class="blog-header-logo text-dark text-center title-text">National Vaccine Availability</div>
    <div class="blog-header-logo text-dark text-center title-text"><%= @title %></div>
    <div class="text-center vaxxmax-logo-text"><%= image_tag("vaccine-logo1-sm.png")%></div>
    <div class="text-dark text-center" href="#">VaxxMax&nbsp;&nbsp;</div>
    <br>

    <div class="row justify-content-between align-items-center">
      <div class="col-12 text-center">
        <div class="blog-header-small text-dark" href="#">
          <code class="text-black">This tool is free, but donations to cover hosting & development costs are welcome. Thanks!</code><br>
          <a href="https://www.paypal.com/donate?business=9SM3XLXSS9RVN&item_name=Help+pay+for+VaxxMaxx+hosting+and+server+costs.&currency_code=USD" target="_blank">
            <button class=" btn btn-md btn-outline-primary">
              <code class="text-dark">Contribute via PayPal</code>
            </button>    
          </a>   
          <button class="btn btn-md btn-outline-primary" id="bitcoin" data-toggle="modal" data-target="#bitcoinModal">
            <code class="text-dark">Contribute via Bitcoin</code>
          </button>                 
        </div>
      </div>
    </div>
    