      <div class="col-sm">
        <div class="dropdown">
          <select name="provider" id="provider" class="form-control">
            <option value="cvs">CVS</option>
            <option value="health_mart">Health Mart</option>
            <option value="riteaid">Rite Aid</option>
            <option value="walgreens">Walgreens</option>
            <option value="walmart">Walmart</option>
          </select>
        </div>      
      </div>